@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background: #3b77b4;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.head {
	height: 100px;
	background: #fff;
	text-align: center;
}
.head h1 {
	margin: 0;
	display: inline-block;
	margin-top: 30px;
}
.head button {
	display: inline-block;
	margin-left: 50px;
	border: 0;
	padding: 10px;
	background: #42a343bd;
	border-radius: 5px;
	position: relative;
	top: -7px;
}
.column-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
}
.column-container .column {
	float: left;
	width: 30%;
	text-align: center;
	margin: 30px;
	background: #fff;
}
ul {
	min-height: 200px;
}
ul li {
	list-style: none;
	display: block;
}
ul li button {
	float: left;
}
.btn-delete {
	background: #d78686;
	border: 0;
}
.card-description {
	margin: 0 5px;
}
.add-card {
	border: 0;
	margin-left: 5px;
}
